@media (prefers-color-scheme: dark) {
  body {
        background-color: #0d1117;
        color: #e6edf3;
    }
    a, a:visited,
    h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited, h4 a, h4 a:visited, h5 a, h5 a:visited, h6 a, h6 a:visited,
    h1, h2, h3, h4, h5, h6, .meta {
        color: rgb(34, 34, 34);
        color: #e6edf3;
    }
    #page-side li a {
        color: #7d8590;
    }
    .tag {
        background: #000;
        border: 1px solid #333;
    }
    ::-webkit-scrollbar-track-piece {
        background-color: #000000;
    }

    .brightness {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' class='bi bi-brightness-low-fill' viewBox='0 0 16 16' filter='invert(1)'%3E%3Cpath d='M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8.5 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 11a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm5-5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm-11 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9.743-4.036a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707zm-7.779 7.779a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707zm7.072 0a.5.5 0 1 1 .707-.707.5.5 0 0 1-.707.707zM3.757 4.464a.5.5 0 1 1 .707-.707.5.5 0 0 1-.707.707z'/%3E%3C/svg%3E");
    }



    /*::-webkit-scrollbar-thumb {*/
    /*    background: #1f1f1f*/
    /*}*/

    /*::-webkit-scrollbar-thumb:hover {*/
    /*    background: #f86b2f*/
    /*}*/
}

